body {
    background: #17243A;
    border-radius: 12px;
}

.ativo {
    border-bottom: 5px solid #3B82F6;
}

.logoCab{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

header {
    display: block;
    color:#F1F5F9;
    padding: 20px;
    border-radius: 12px;
    background-color: #020814;
}

a {
    color: #F1F5F9;
    text-decoration: none;
    
}

.navegacao {
    width: fit-content;
    padding: 2px 30px;
    margin: 0 auto;
    border-radius: 12px;
    font-size: 25px;
    display: block;
    text-align: center;
    background-color: #17243A;
}


.abasNavegacao {    
    font-size: 30px;
    list-style: none;
    display: flex;
    gap: 80px;   
    justify-content: center;
    align-items: center;

}

section {
    height: auto;
    width: auto;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color:#F1F5F9;
}

.statusChamados {
    padding: 20px;
}

h2 {
    font-size: xx-large;
    align-items: center;
     color:#F1F5F9;
}

h3 {
    font-size: xx-large;
     color:#F1F5F9;
}

p {
    font-size: xx-large;
     color:#F1F5F9;
}

.criarChamados {
    flex-direction: row;
    color: #F1F5F9;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #020814;
    border-radius: 12px;
    padding: 10px 10px;
}

form {
    display: block;
}

button {
    background: #1677FF;
    color: #FFFFFF;
    border-radius: 12px;
    font-size: 25px;
}

select {
    font-size: 25px;
}

#equip {
    font-size: 25px;
}

.campoCondominio {
    padding: 15px 5px;
}

.campoTipoChamado {
    padding: 15px 5px;
}

.campoEquip {
    padding: 15px 5px;
}

.campoPrioridade {
    padding: 15px 5px;
}

.campoDescricao {
    padding: 15px 5px;
}

.campoEnviar {
    padding: 15px 5px;
}